html,
body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #3b3b3b;
}

.map-wrapper {
  height: 400px;
  width: 400px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls button {
  width: 50%;
}

#map {
  height: 300px;
  width: 300px;
  border: 3px solid green;
}

.canvas-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 400px;
}

#rasterMap {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
