html,
body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #3b3b3b;
  flex-wrap: wrap;
}

.map-wrapper {
  height: 400px;
  width: 600px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls button {
  width: 50%;
}

#map {
  height: 100%;
  width: 100%;
  border: 2px solid green;
}

#rasterMap {
  height: 400px;
  width: 600px;
  border: 2px solid black;
}

#puzzles-container {
  display: flex;
  width: 1000px;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #333333;
  flex-wrap: wrap;
  border: 2px solid #333333;
}

#board {
  height: 400px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  background-color: #333333;
}

.cell {
  border: 1px solid #131313;
  box-sizing: border-box;
}

.cell:hover {
  background-color: rgba(121, 121, 121, 0.1);
}

.puzzle-piece:hover {
  background-color: white;
  opacity: 0.75;
}