<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mateusz 51642</name>
    <description>
        Weather App
    </description>
    <author email="zm51642@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Mateusz Zwierzchowski
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
